<div class="login-wrapper">
  <form [formGroup]="loginForm" (ngSubmit)="login(loginForm)" class="login-form">
    <div class="form-group w-100 h-100">
      <label
        >Email
        <input class="form-control" formControlName="email" />
      </label>
      <label
        >Password
        <input class="form-control" type="password" formControlName="password" />
      </label>
      <div class="d-flex justify-content-end align-items-center">
      <button class="btn btn-dark mr-2" type="button" (click)="signup(loginForm)">Signup</button>
      <button class="btn btn-primary" type="submit">Login</button>
    </div>
    </div>
  </form>
</div>
