.login-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.login-form {
  width: 500px;
  height: 200px;
}

.form-group{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
