<ng-container *ngIf="chatMessages$ | async"></ng-container>
<ng-container *ngIf="(user$ | async) as user">
<div class="container p-3" *ngIf="(room$ | async) as room">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2>{{ room.name }}</h2>
    <button
      class="btn btn-primary btn-sqr"
      type="button"
      (click)="back()"
    >
     Back
    </button>
  </div>
  <div *ngIf="(messages$ | async) as messages">
    <div *ngFor="let message of messages">
      <app-message [data]="message.data" [date]="message.date" [sender]="message.sender">
      </app-message>
    </div>
    <form [formGroup]="inputForm" (ngSubmit)="onSubmit(room.id, user.id)">
      <div class="input-group mt-3">
        <input type="text" class="form-control" formControlName="message">
        <div class="input-group-append">
          <button class="btn btn-primary" type="submit">Send</button>
          <button class="btn btn-dark" type="button" (click)="tickTackToe()">Tick Tack Toe</button>
        </div>
      </div>
    </form>
  </div>
</div>
</ng-container>
