<div class="container p-3">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Rooms</h2>
    <div class="d-flex align-items-center">
    <button
      class="btn btn-success btn-sqr mr-2"
      type="button"
      (click)="add()"
    >
     Add
    </button>
    <button
      class="btn btn-dark btn-sqr"
      type="button"
      (click)="logout()"
    >
     Logout
    </button>
  </div>
  </div>
  <table
    class="table table-striped"
  >
    <thead>
      <tr>
        <th>Name</th>
        <th></th>
      </tr>
    </thead>
    <tbody *ngIf="(rooms$ | async) as rooms">
      <tr *ngFor="let room of rooms">
        <td>
          {{room.name}}
        </td>
        <td class="text-right" (click)="details(room.id)"><button class="btn btn-primary">Details</button></td>
      </tr>
    </tbody>
  </table>
</div>

