
<div *ngIf="allUsers$ | async as allUsers">
  <span class="font-weight-bold m-2">{{ getUserName(allUsers, sender) }}</span>
  <span class="font-italic m-2">{{ date | date }}</span></div>
<div class="rounded bg-light text-dark">
  <div class="d-inline-block m-2"> {{ data }} </div>
</div>
