<div class="modal-header">
  <h4 class="modal-title">{{ title }}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <table>
    <tr *ngFor="let row of ticTacArray; let i = index">
      <td (click)="ticTac(i, j)" *ngFor="let col of row; let j = index">{{col}}</td>
    </tr>
  </table>
</div>
<div class="modal-footer">
  <span>{{isWinOrDraw}}</span>
<button type="button" class="btn btn-primary" (click)="resetGame()">New Game</button>
</div>



