
.modal-body {
  display: flex;
  justify-content: center;
  align-items: center;
}
td:first-child {
  border-right: solid;
}
td:last-child {
  border-left: solid;
}
tr:first-child {
  border-bottom: solid;
}
tr:last-child {
  border-top: solid;
}
td {
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 60px;
  &:hover{
    background-color: hsla(211, 100, 43, 0.2);
  }
}
table {
  width: 300px;
  height: 300px;
}
